<div style="text-align: center; padding: 50px;">
  <h1>Welcome to Rails 8.0!</h1>
  <p>This is a basic Ruby on Rails application.</p>
  <ul style="list-style: none; padding: 0;">
    <li><strong>Rails version:</strong> <%= Rails.version %></li>
    <li><strong>Ruby version:</strong> <%= RUBY_VERSION %></li>
  </ul>
</div>
