<div class="welcome-container">
  <h1>Welcome to Rails 8.0!</h1>
  <p>This is a basic Ruby on Rails application.</p>
  Lets add something here
  <ul>
    <li><strong>Rails version:</strong> <%= Rails.version %></li>
    <li><strong>Ruby version:</strong> <%= RUBY_VERSION %></li>
  </ul>
</div>
